/* Navbar container */
.navbar {
    padding: 20px;
    height: 50px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #007bff; /* Blue Background */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-img {
    width: 50px; /* Adjust as needed */
    height: auto;
  }
  .logo-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  
  
  
  
  /* Navigation links */
  .nav-links {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: end;
    gap: 20px;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #4e4e4e; /* Yellow Hover Effect */
  }

  .link.boxed-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    padding: 8px 15px; /* Add padding to create a box effect */
    border: 2px solid transparent; /* Transparent border for hover effect */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    display: inline-block; /* Ensure the box wraps around the text */
  }

  .link.boxed-link:hover {
    color: #0056b3; /* Change text color on hover */
    background-color: #ffdd57; /* Add a background color on hover */
    border-color: #ffdd57; /* Highlight the border on hover */
  }
  
  /* Auth section */
  .auth-section {
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
  
  /* Username display */
  .username {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Buttons */
  .button {
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: white;
    color: #007bff; /* Blue Text on Hover */
  }
  
  /* Logout button */
  .logout-btn {
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
  }
  
  .logout-btn:hover {
    background-color: #c0392b; /* Darker red on hover */
    transform: scale(1.05); /* Slight zoom effect */
  }



